<div class="question">
  <div class="question__score">
    <span class="score"><%= question.score %></span>
    <span class="descriptor">score</span>
  </div>
  <div class="question__info">
    <%= link_to question.title, question_path(question), class: 'question__title' %>
    <div class="question__tags">
      <% question.tags.each do |tag| %>
        <%= link_to tag, questions_tagged_path(tag), class: 'tag' %>
      <% end %>
    </div>
    <span class="question__author">by <%= link_to question.user.username, user_path(question.user) %></span>
  </div>
</div>
