<% content_for :title, "Editing '#{@question.title.truncate(50)}'" %>

<h1>Edit Question</h1>
<%= render 'form', is_edit: true %>

<% if SiteSetting['AskingGuidance'] %>
  <% content_for :sidebar do %>
    <div class="widget has-margin-4">
      <h4 class="widget--header has-margin-0">Hints and Tips</h4>
      <div class="widget--body">
      <% guidance = @question.category.asking_guidance_override || SiteSetting['AskingGuidance'] %>
        <%= raw(sanitize(render_markdown(guidance), scrubber: scrubber)) %>
      </div>
    </div>
  <% end %>
<% end %>
