<% content_for :title, "Editing '#{@question.title.truncate(50)}'" %>

<h1>Edit Question</h1>
<%= render 'posts/image_upload' %>

<%= render 'form', is_edit: true %>

<% if SiteSetting['AskingGuidance'] %>
  <% content_for :sidebar do %>
    <div class="widget has-margin-4">
      <h4 class="widget--header has-margin-0">Hints and Tips</h4>
      <div class="widget--body">
        <%= raw(sanitize(QuestionsController.renderer.render(SiteSetting['AskingGuidance']), scrubber: scrubber)) %>
      </div>
    </div>
  <% end %>
<% end %>
