<% content_for :title, "Questions" %>
<% content_for :head do %>
  <link rel="alternate" type="application/rss+xml" title="Questions RSS Feed" href="/questions/feed.rss">
<% end %>
<% content_for :sidebar do %>

<div class="has-margin-4 widget has-border-style-none has-shadow-0">
  <div class="widget--body has-text-align-right">

    <%= link_to new_question_path, class: 'button is-filled is-very-large' do %>
        Ask Question
    <% end %>

  </div>
</div>
<% end %>

<h1>Questions</h1>

<%= render 'list' %>
