<% content_for :title, "Questions" %>
<% content_for :head do %>
  <link rel="alternate" type="application/rss+xml" title="Questions RSS Feed" href="/questions/feed.rss">
<% end %>

<div class="flex-row jc-sb">
  <h3>Questions</h3>
  <%= link_to new_question_path, class: 'header-button wb' do %>
    Ask Question &raquo;
  <% end %>
</div>

<%= render 'list' %>
