<% content_for :title, "Questions Lottery" %>
<% content_for :sidebar do %>

<div class="has-margin-4 widget has-border-style-none has-shadow-0">
  <div class="widget--body has-text-align-right">

    <%= link_to new_question_path, class: 'button is-filled is-very-large is-outlined' do %>
        Ask Question
    <% end %>

  </div>
</div>
<% end %>

<h1>Questions</h1>

<%= render 'list' %>
