<% content_for :title, "Meta Questions" %>

<div class="flex-row jc-sb">
  <h3>
    Meta Questions
  </h3>
  <%= link_to new_meta_question_path, class: 'header-button wb' do %>
    Ask Meta Question &raquo;
  <% end %>
</div>

<%= render 'list' %>
