<% content_for :title, @question.title.truncate(50) %>

<%= render 'expanded', question: @question, with_actions: true %>
<span class="clearfix"></span><br/>
<h4><%= pluralize(@question.answers.where(deleted: false).count, "answer") %></h4>
<hr/>

<% (current_user&.has_privilege?('ViewDeleted') ? @question.answers : @question.answers.undeleted).order(params[:sort] || 'score desc').each do |answer| %>
  <%= render 'answers/expanded', answer: answer %>
<% end %>

<% unless @question.closed %>
  <a href="/questions/<%= @question.id %>/answer" class="btn btn-primary">Answer this Question</a>
<% end %>
