<% content_for :title, @question.title.truncate(50) %>

<%= render 'posts/expanded', post: @question %>
<span class="clearfix"></span><br/>
<h4><%= pluralize(@question.answers.where(deleted: false).count, "answer") %></h4>
<hr/>

<% @answers.each do |answer| %>
  <%= render 'posts/expanded', post: answer %>
  <hr/>
<% end %>

<% if user_signed_in? && !@question.closed %>
  <%= render 'answers/new', answer: Answer.new %>
<% end %>
