<% content_for :title, "Tag: #{params[:tag]}" %>

<h3>Questions tagged <%= params[:tag] %></h3>
<% @questions.each do |question| %>
  <%= render 'posts/list', post: question %>
<% end %>
<%= will_paginate @questions %>
