<div class="nat">
    <img src="/assets/birthday.svg" alt="">
    <h1>Happy Birthday, Codidact!</h1>
    <p class="is-lead">Codidact turns 1 year old on 2020-10-16. 🥳</p>

    <p>To celebrate that, we'll run <a href="https://meta.codidact.com/questions/278544">a little competition</a>.</p>
    <p>The persons with the most upvoted posts anywhere in the network posted between 2020-10-16 and 2020-10-23 win.</p>
    <p>Happy asking and answering!</p>

    <p class="h-ta-center">
        <a href="https://codidact.com" class="button is-filled is-large">Discover the communities</a>
        <a href="/birthday/ranking" class="button is-outlined is-large">Show the ranking</a>
    </p>

    <div class="nat-plane"></div>
</div>

<script>
    document.body.parentNode.classList.add('nat-page');
</script>