<% notice = SiteSetting['FirstVisitGuidance'] %>

<% if notice.present? %>
  <div class="notice js-first-visit-notice" id="fvn">
    <button type="button"
            class="button is-close-button"
            data-dismiss="#fvn"
            aria-label="Close"
            id="fvn-dismiss">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= raw(sanitize(notice, scrubber: scrubber)) %>
  </div>
<% end %>
