<% content_for :title, "Moderator Dashboard" %>

<h1>Moderator Dashboard</h1>
<p>This page serves as a repository of links to the various tools you have access to as a moderator. While
  you use these, remember that the data in them is usually moderator-only, and should likely not be shared
  with anyone outside of that team unless you've ensured it's safe to share.</p>

<div class="grid">
  <div class="grid--cell is-4-lg is-6-md is-12-sm">
    <div class="widget">
      <div class="widget--body">
        <i class="fa fa-flag"></i>
        <a href="/mod/flags">Flag Queue</a>
      </div>
    </div>
  </div>

  <div class="grid--cell is-4-lg is-6-md is-12-sm">
    <div class="widget">
      <div class="widget--body">
        <i class="fas fa-trash"></i>
        <a href="/mod/deleted">Recent Deletions</a>
      </div>
    </div>
  </div>

  <div class="grid--cell is-4-lg is-6-md is-12-sm">
    <div class="widget">
      <div class="widget--body">
        <i class="fas fa-undo"></i>
        <a href="/mod/undeleted">Recent Undeletions</a>
      </div>
    </div>
  </div>

  <div class="grid--cell is-4-lg is-6-md is-12-sm">
    <div class="widget">
      <div class="widget--body">
        <i class="fas fa-file-alt"></i>
        <a href="<%= new_help_post_path %>">Create Help Center Page</a>
      </div>
    </div>
  </div>

  <div class="grid--cell is-4-lg is-6-md is-12-sm">
    <div class="widget">
      <div class="widget--body">
        <i class="fas fa-chart-line"></i>
        <a href="<%= users_report_path %>">Reports</a>
      </div>
    </div>
  </div>

  <div class="grid--cell is-4-lg is-6-md is-12-sm">
    <div class="widget">
      <div class="widget--body">
        <i class="fas fa-hand-paper"></i>
        <a href="<%= close_reasons_path %>">Close Reasons</a>
      </div>
    </div>
  </div>
</div>

<% chat = SiteSetting['ChatLink'] %>
<% if chat.present? %>
<p>As a moderator, you should join our <a href="<%= chat %>">community chat server</a>. Ping a Codidact team member there and you'll receive access to a special moderator-only lounge, where you can discuss moderation questions with your fellow moderators.</p>
<% end %>