<% content_for :title, "Recently Undeleted Answers" %>

<h3>Recently Undeleted Answers</h3>
<% @answers.each do |a| %>
  <%= render 'answers/answer', answer: a %>
<% end %>

<%= will_paginate @answers %>
