<% content_for :title, "Recently Deleted Questions" %>

<h3>Recently Deleted Questions</h3>
<% @questions.each do |q| %>
  <%= render 'questions/question', question: q %>
<% end %>

<%= will_paginate @questions %>
