<% content_for :title, "Recently Deleted Answers" %>

<h3>Recently Deleted Answers</h3>
<% @answers.each do |a| %>
  <%= render 'answers/answer', :answer => a %>
<% end %>

<%= will_paginate @answers %>
