<% content_for :title, "Recently Undeleted Questions" %>

<h3>Recently Undeleted Questions</h3>
<% @questions.each do |q| %>
  <%= render 'posts/list', post: q %>
<% end %>

<%= will_paginate @questions %>
