<% content_for :title, "Recently Deleted Answers" %>

<h1>Recently Deleted Answers</h1>
<div class="item-list">
  <% @answers.each do |a| %>
    <%= render 'answers/answer', answer: a %>
  <% end %>
</div>

<%= will_paginate @answers, renderer: BootstrapPagination::Rails %>
