<% content_for :title, "Recently Deleted Questions" %>

<h1>Recently Deleted Questions</h1>
<div class="item-list">
  <% @questions.each do |q| %>
    <%= render 'posts/list', post: q %>
  <% end %>
</div>

<%= will_paginate @questions, renderer: BootstrapPagination::Rails %>
