/** Web Fonts **/

/* hebrew */
@font-face {
  font-family: 'Frank Ruhl Libre';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Frank Ruhl Libre Regular'), local('FrankRuhlLibre-Regular'), url(https://fonts.gstatic.com/s/frankruhllibre/v6/j8_w6_fAw7jrcalD7oKYNX0QfAnPW7Ll4ajn.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}

:lang(he), :lang(ar) /* and whatever other RTL languages there are */ {
    direction: rtl;
}

:lang(he) {
    font-family: Frank Ruhl Libre, serif;
}

:lang(ja) {
    font-family: Noto Sans CJK JP, Noto Sans CJK, Hirajino Kaku Gothic Pro, Meiryo, sans-serif;
}

:lang(zh-Hant) {
    font-family: Noto Sans CJK TC, Noto Sans CJK, Microsoft JhengHei, sans-serif;
}

:lang(zh), lang(zh-Hans) /* Assume Chinese text is simplified if not explicit */ {
    font-family: Noto Sans CJK SC, Noto Sans CJK, Microsoft YaHei, sans-serif;
}
