<p class="has-font-size-caption"><em>
  You are receiving this email because you have <%= user_link @user, { host: @host }, anchortext: 'an account' %> on the
  Codidact network.
</em></p>

<h1 class="has-font-size-heading has-color-red">Your Codidact account has been deleted</h1>

<p>
  This email is to confirm that your request to delete your account has been received, and the deletion is being
  processed. This means:
</p>
<ul>
  <li>Your profiles are being deleted on <strong>every community</strong> in the network.
  <li>Your user account is being deleted and anonymized.</li>
  <li>
    The content of your posts and comments will remain, under the licenses you set for them. Your username will no
    longer be shown alongside them.
  </li>
</ul>

<p>
  We're sorry to see you go. If you change your mind, you're welcome back any time &mdash; just create an account again.
</p>
