<div class="comment <%= comment.deleted? ? 'deleted-content' : '' %>" data-id="<%= comment.id %>">
  <p class="comment__content">
    <%= raw(sanitize(CommentsController.renderer.render(comment.content), scrubber: CommentScrubber.new)) %>
  </p>
  <div class="comment__meta">
    &mdash; <%= link_to comment.user.username, user_path(comment.user) %>
    <% if user_signed_in? && (comment.user == current_user || current_user.is_moderator || current_user.is_admin) %>
      &middot; <a href="#" class="js-comment-edit">edit</a>
      &middot; <% if comment.deleted %>
          <a href="#" class="js-comment-undelete text-danger">undelete</a>
        <% else %>
          <a href="#" class="js-comment-delete text-danger">delete</a>
        <% end %>
    <% end %>
  </div>
</div>
