<%#
   "Helper for rendering comment flag modal

    Variables:
      comment : Comment to flag
"%>

<div class="droppanel is-large h-c-black" id="flag-comment-<%= comment.id %>">
  <label for="flag-post-<%= comment.id %>">Flag reason</label>
  <input type="text"
         id="flag-post-<%= comment.id %>"
         class="form-element js-comment-flag-reason" />
  <a href="javascript:void(0)"
     class="flag-link js-comment-flag button is-danger"
     data-post-id="<%= comment.id %>"
     data-requires-details="true"
     role="button"
     aria-label="Flag comment">Flag</a>
</div>
