<%#
    List of comment threads below a post.

    Variables:
      comment_threads : an Array of CommentThread instances to list
%>

<% comment_threads.each do |thread| %>
  <%
    state_class = [
      thread.deleted ? 'is-deleted' : nil,
      thread.archived ? 'is-archived' : nil,
      thread.locked? ? 'is-locked' : nil
    ].compact.join(' ')
  %>

  <div class="post--comments-thread-wrapper" role="listitem">
    <%= render 'comment_threads/collapsed', thread: thread %>
  </div>
<% end %>
