<%#
   "List of comment threads below a post.

    Variables:
      comment_threads : an Array of CommentThread instances to list
    ? comment_id      : Comment to show even if it would be hidden otherwise
    ? thread_id       : CommentThread ID to render expanded view for
    ? show_deleted    : whether to display deleted comments in the expanded view
"%>

<%
  comment_id ||= defined?(comment_id) ? comment_id : nil
  thread_id ||= defined?(thread_id) ? thread_id : nil
  show_deleted ||= defined?(show_deleted) ? show_deleted : false
%>

<% comment_threads.each do |thread| %>
  <%
    state_class = [
      thread.deleted ? 'is-deleted' : nil,
      thread.archived ? 'is-archived' : nil,
      thread.locked? ? 'is-locked' : nil
    ].compact.join(' ')
  %>

  <div class="js-comment-thread-wrapper post--comments-thread-wrapper" role="listitem">
    <% if thread_id.to_i == thread.id.to_i %>
      <%= render 'comment_threads/expanded', comment_id: comment_id,
                                             inline: true,
                                             show_deleted: show_deleted,
                                             thread: thread %>
    <% else %>
      <%= render 'comment_threads/collapsed', thread: thread %>
    <% end %>
  </div>
<% end %>
