<%= render(layout: 'tour/hint_widget', locals: { classes: "step-3 hide" }) do %>
  <% content_for :body, flush: true do %>
    <p>This answer looks helpful.</p>
    <p>To show other readers of this answer that you found it helpful (and also as a way to say "thanks" to the answerer), you can <em>upvote</em> it.</p>
    <p>Voting also helps good content be more visible.
      Good answers are promoted to the top, while bad ones sink to the bottom.
      Please help curate the community by voting responsibly.</p>
    <p>Do so by clicking the <svg class="h-c-tertiary-400" width="2em" height="1.33em" viewbox="0 0 100 50">
        <path d="M50,0 L100,50 L0,50 Z" fill="currentColor" />
      </svg> icon next to the post. After you vote, the tour will continue.</p>
  <% end %>
  <% content_for :footer, flush: true do %>
    <button class="button js-tour-scroll-to-post" data-post="first-answer">Go to answer</button>
    <button class="button is-filled"  data-step-from=".step-3" data-step-to=".step-2">Back</button>
  <% end %>
<% end %>
