<%= render(layout: 'tour/hint_widget', locals: { classes: "step-4 hide" }) do %>
  <% content_for :body, flush: true do %>
    <p>Thanks.</p>
    <p>Let's wait for other answers, which might produce different solutions.</p>
  <% end %>
  <% content_for :footer, flush: true do %>
    <button class="button js-tour-skip-wait" data-timeout="bad-answer">Skip the wait</button>
  <% end %>
<% end %>
