<h1>Error Reports</h1>
<p class="is-lead"><%= pluralize(@reports.count, 'error') %> logged</p>

<% @reports.each do |report| %>
  <%= render 'error_report', report: report %>
<% end %>

<%= will_paginate @reports, renderer: BootstrapPagination::Rails %>