<h1>Create New Site</h1>

<h2>You're done! ✨</h2>

<p>Congratulations. Your new site has been successfully created and set up. However, there are likely things you want to do, before telling everyone of it:</p>
<ul>
    <li><strong>Review categories.</strong> Every site starts with at least two categories&mdash;Q&A and Meta&mdash;but you can create more if needed. You might also want to change the 
    default descriptions chosen by the system. Go to <a href="/categories">the categories overview page</a> to add and edit categories.</li>
    <li><strong>Review help center.</strong> The <a href="/help">help center</a> has been filled with useful information about the site and software. However, you  might want to change some site-specific details, especially in the FAQ post.</li>
    <li><strong>Feeds.</strong> There RSS feeds for all of our categories. You might want to load them into your favorite program (or chat software), so that you can monitor this site.</li>
    <li><strong>Overview page.</strong> The <a href="/dashboard">dashboard</a> mentions this site already, but maybe you have other, more public-facing directories of your sites. You might want to add the new site there too.</li>
</ul>

<p>If you have done all these things, your site is now ready for you to invite other people to come and use it.</p>

<a href="/" class="button is-filled is-large">To Homepage!</a>
<a href="/tour" class="button is-outlined is-large">Take the Tour!</a>