// Place all the styles related to the MicroAuth/Authentication controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.auth-code {
  text-align: center;
  font-size: 40px;
  letter-spacing: 0.25em;
  font-weight: bold;
}
