<div class="grid">
    <div class="grid--cell codidactyl">
        <img src="/assets/codidactyl.png" alt="Codidactyl">
    </div>
    <div class="grid--cell is-flexible">
        <div class="widget">
            <div class="widget--body">
                <h1>Congratulations!</h1>
                <p>You have successfully completed my tutorial. Now you're ready to dive into this community. Go and learn together.</p>
            </div>
            <div class="widget--footer step-1-footer">
                <a href="/" class="button is-filled">End tutorial</a>
            </div>
        </div>
    </div>
</div>