<div class="grid">
    <div class="grid--cell codidactyl">
        <img src="/assets/codidactyl.png" alt="Codidactyl">
    </div>
    <div class="grid--cell is-flexible">
        <div class="widget">
            <div class="widget--body">
                <p>Hi!</p>
                <p>I'm your friendly neighbourhood <a href="https://en.wikipedia.org/wiki/Pterodactylus">Codidactyl</a> and I'd like to introduce you to this website. Don't worry: It doesn't take long and you can abort at any time.</p>
            </div>
            <div class="widget--footer">
                <a href="/tour/q" class="button is-filled">Let's go</a>
                <a href="/" class="button">No, thanks</a>
            </div>
        </div>
    </div>
</div>