<div class="grid">
    <div class="grid--cell codidactyl">
        <img src="/assets/codidactyl.png" alt="Codidactyl">
    </div>
    <div class="grid--cell is-flexible">
        <div class="widget">
            <div class="widget--body">
                <p>Great.</p>
                <p>This is a Q&amp;A site, so everything starts with a question. Let's try to ask one to see, how it works.</p>
            </div>
            <div class="widget--footer">
                <a href="/tour/ask" class="button is-filled">New question</a>
            </div>
        </div>
    </div>
</div>