<table class="table is-with-hover is-full-width">
  <tr>
    <th>Community</th>
    <th>Posts</th>
    <th>Reputation</th>
  </tr>

  <% @communities.each do |c| %>
  <tr>

  </tr>

  <% end %>

</table>
