<%= render 'tabs', user: current_user %>

<h1>Filters</h1>
<p>
  Manage your filters here
</p>

<%# Just a nominal form so that stuff like validation works %>
<form>
  <%= render 'search/filters', allow_apply: false, allow_delete: true %>
<form>