<% content_for :title, "Moderator Tools: #{rtl_safe_username(@user)}" %>

<%= render 'tabs', user: @user %>

<div class="grid">
  <%= render 'shared/user_mod_sidebar', user: @user %>

  <div class="grid--cell is-9">
    <h1>User Moderation Tools</h1>
    <p>Please note that many information shown in these user moderation tools are sensitive and should not be shared with anyone outside the moderator and admin team.</p>
  </div>
</div>
