<% content_for :title, "Moderator Tools: #{@user.username}" %>

<h3>Moderator Tools: <%= @user.username %></h3>
<ul>
  <li><a href="/mod/votes/user/<%= @user.id %>">suspicious voting patterns</a></li>
</ul>

<a class="text-danger show-danger-zone" href="#">Show Danger Zone</a>
<div class="danger-zone panel panel-danger">
  <div class="panel-heading"><strong>Danger Zone</strong></div>
  <div class="panel-body">
    <p class="text-danger"><strong>Take care!</strong> Actions in this section may not be reversible, and you will not be asked to confirm
      after initiating an action.</p>
    <div class="delete-actions">
      <%= link_to "Destroy User", url_for(controller: :users, action: :destroy, id: @user.id), method: :delete, remote: true, class: "destroy-user btn btn-danger" %>
      <% if user_is_admin %>
        <%= link_to "Soft-Delete", url_for(controller: :users, action: :soft_delete, id: @user.id, transfer: SiteSetting['SoftDeleteTransferUser']), method: :delete, remote: true, class: "soft-delete btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>
