<% content_for :title, "Moderator Tools: #{rtl_safe_username(@user)}" %>

<%= render 'tabs', user: @user %>

<div class="grid">
  <%= render 'shared/user_mod_sidebar', user: @user %>

  <div class="grid--cell is-9">
    <h1>Delete Account</h1>

    <p>Some users are just blatant spammers or trolls and some users are just unwilling to follow site rules, even after repeated warnings and suspensions. As a moderator, you may delete the user account in these cases.</p>

    <div class="notice is-danger">
        <p><strong>Take care!</strong> These actions may not be reversible and you will not be asked to confirm after initiating an action.</p>
    </div>

    <div class="widget">
        <div class="widget--body">
            <h4>Delete Community Profile</h4>
            <p>Delete the community profile of users who are unwilling to follow the rules of this site, even after repeated warnings and suspensions. Choose this option if a user has requested deletion of their profile on one site, once you have confirmed their identity and request.</p>

            <%= link_to 'Delete community profile', soft_delete_user_path(@user.id, type: 'profile'), remote: true,
                  method: :delete, class: 'js-soft-delete button is-danger is-filled' %>
        </div>
    </div>
  </div>
</div>
