<%= render 'tabs', user: current_user %>
<h1>Preferences</h1>
<p>
  Manage your user preferences here. Changes are automatically saved once you move away from the input field.
</p>

<p><%= link_to 'Manage Email Subscriptions', subscriptions_path %></p>

<h2>Network Preferences</h2>

<div class="user-pref">
  <div class="user-pref--meta">
    <strong>Theme</strong>
    <br/>
    <span class="desc">Mode (light or dark)</span>
  </div>
  <select class="form-element" id="theme" style="max-width:100px;">
    <option id="dark" name="dark">Dark</option>
    <option id="light" name="light">Light</option>
  </select>
</div>

<p>These preferences apply network-wide.</p>

<%= render 'prefs', prefs: @preferences, community: false %>

<h2>Community Preferences</h2>
<p>These preferences apply on this community only.</p>

<%= render 'prefs', prefs: @community_prefs, community: true %>
