<h1>Mobile Sign In</h1>
<p>
  Passwords too much effort? Use a QR code scanning app to scan this code on your device and
  follow the URL to log in there.
</p>

<div class="has-text-align-center">
  <svg height="<%= @qr_code.qrcode.module_count * 4 %>" width="<%= @qr_code.qrcode.module_count * 4 %>">
    <%= raw(@qr_code.as_svg(standalone: false, module_size: 4)) %>
  </svg>
</div>