<h3>Disabling two-factor authentication</h3>

<p>Please click the button below to confirm you want to disable two-factor authentication on your account.</p>

<p><%= link_to 'Disable 2FA', two_factor_confirm_disable_link_path, method: :post, class: 'button is-filled is-danger' %></p>