<h1>Two-factor authentication</h1>
<p>
  Two-factor authentication adds another layer of security to your account by requiring you to get a code from an app
  on your phone before you can log in. This prevents anyone who doesn't have your phone with them getting into your account.
</p>

<p>
  Two-factor authentication is currently
  <span class="badge is-tag <%= current_user.enabled_2fa? ? 'is-green' : 'is-red' %>">
    <strong><%= current_user.enabled_2fa ? 'on' : 'off' %></strong>
  </span>
  for your account.
</p>

<% if current_user.enabled_2fa %>
  <p><%= link_to 'Turn off', two_factor_disable_code_path, class: 'button is-outlined' %></p>
<% else %>
  <p><%= link_to 'Turn on', two_factor_enable_path, method: :post, class: 'button is-outlined' %></p>
<% end %>