<div class="form-group">
  <%= f.label field_name, field_label, class: "form-element" %>
  <div class="widget">
    <% classes = 'form-element post-field js-post-field widget--body h-b-0 h-m-0' %>
    <% key = "saved_post.#{current_user&.id}.#{request.path}" %>
    <% saved_at = RequestContext.redis.get("saved_post_at.#{current_user&.id}.#{request.path}") %>
    <% saved_at = DateTime.parse(saved_at || '') rescue 0 %>
    <% value = RequestContext.redis.exists(key) && post.updated_at <= DateTime.parse(saved_at || '') ?
                   { value: RequestContext.redis.get(key), class: classes + ' js-draft-loaded' } : {} %>
    <%= render 'shared/markdown_tools' %>
    <%= f.text_area field_name, { class: classes, rows: 15, placeholder: 'Start typing your post...' }.merge(value) %>
    <%= render 'posts/mdhint' %>
  </div>
</div>