<div class="button-list is-gutterless">
  <a href="javascript:void(0)"
     class="button is-muted is-outlined is-icon-only js-save-draft"
     aria-label="Save draft"
     title="Save draft"
     role="button">
    <i class="fas fa-save"></i>
  </a>
  <a href="javascript:void(0)"
     class="button is-muted is-outlined is-icon-only js-delete-draft"
     aria-label="Delete draft"
     title="Delete draft"
     role="button">
    <i class="fas fa-trash has-color-red"></i>
  </a>
</div>
