<% content_for :title, "Close Reasons" %>

<h1>Add <%= (params[:global] == "1") ? "global" : "" %> close reason</h1>

<% if @close_reason.errors.any? %>
  <div class="notice is-danger">
    These errors prevented this close reason being saved:
    <ul>
      <% @close_reason.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render 'form', submit_url: create_close_reason_path(global: params[:global]) %>
