<% content_for :title, "Handled Moderator Flags" %>

<h1>Handled Flags</h1>
<p>The following list contains flags that have already been handled. You can't change the outcome of these any more.</p>

<div class="button-list is-gutterless">
  <%= link_to 'Active', flag_queue_path, class: 'button is-muted is-outlined' %>
  <%= link_to 'Handled', handled_flags_path, class: 'button is-muted is-outlined is-active' %>
</div>

<% @flags.each do |flag| %>
  <%= render 'handled', flag: flag %>
<% end %>