<h1>Flag History</h1>
<p>
  Below is a list of all the flags you have cast and the outcome of each of them. Moderators handling your flags may also
  have left you feedback.
</p>

<h3>
  <%= pluralize(@flags.count, 'flag') %>
</h3>
<h4><%= @statuses.map { |s, c| "#{c} #{s.present? ? s : 'pending'}" }.join(', ') %></h4>

<% @flags.each do |flag| %>
  <%= render 'handled', flag: flag %>
<% end %>

<%= will_paginate @flags, renderer: BootstrapPagination::Rails %>
