<%#
   "Renders suggested edit presence notice for a given post

    Variables:
      post : Post to render the notice for
      user : User to render the notice for
"%>

<% if user.can_update?(post, post.post_type) %>
  <div class="notice h-p-2">
    <p class="h-m-0">
      <i class="fa fa-pencil-alt h-m-l-2 h-c-red-600"></i>
      There is a <strong>pending suggested edit</strong> on this post.
      <a href="<%= suggested_edit_url(post.pending_suggested_edit.id) %>"
                 class="button is-outlined is-muted is-small"
                 role="button"
                 aria-label="Review changes of suggested edit">Review changes</a></p>
  </div>
<% elsif post.pending_suggested_edit.user&.same_as?(user) %>
  <div class="notice h-p-2">
    <p class="h-m-0">
      <i class="fa fa-pencil-alt h-m-l-2 h-c-tertiary-600"></i>
      Your suggested edit on this post is <strong>
        <%= link_to 'pending review', suggested_edit_url(post.pending_suggested_edit.id) %></strong>.
    </p>
  </div>
<% end %>
