<% content_for :title, 'Edit tag' %>

<h1>
  Edit <span class="<%= @classes %> is-large"><%= @tag.name %></span>
</h1>

<%= render 'form', submit_path: update_tag_path(id: @category.id, tag_id: @tag.id) %>