<p class="has-font-size-caption">
  <%= link_to tag_path(id: @category.id, tag_id: @tag.id) do %>
    &laquo; Back to tag
  <% end %>
</p>

<h1>Delete tag <%= @tag.name %></h1>

<div class="notice is-danger has-color-red-900">
  <p>
    Deleting a tag results in making it seem to have never existed in the first place. No record will be kept of the tag.
    This will:
  </p>

  <ul>
    <li>Remove all references to the tag, including post histories, suggested edits, and category special tags.</li>
    <li>Remove the tag from all posts currently using it, with no replacement.</li>
    <li>Remove the tag itself.</li>
  </ul>

  <p><strong>Please review posts using the tag before deleting it to ensure that posts are not left untagged.</strong></p>

  <p>This action will be logged.</p>
</div>

<%= link_to nuke_tag_path(id: @category.id, tag_id: @tag.id), class: 'button is-danger is-filled', method: :delete do %>
  I understand, delete <%= @tag.name %>
<% end %>
