<% content_for :title, "Conflict" %>

<% content_for :error_message do %>
  <p>The information supplied by your browser created a conflicting operation on the server, and can't be processed.</p>
<% end %>
