<% content_for :error_name, "Forbidden" %>

<% content_for :error_message do %>
  <p>You have been denied access to this resource because you lack the necessary privileges to access it. Once you gain
  enough reputation, you will be granted access.</p>
  <% if @privilege %>
    <p>The required reputation for the '<%= @privilege.name %>' privilege is <%= @privilege.threshold %>.</p>
  <% end %>
<% end %>
