<% content_for :title, "Internal Server Error" %>

<% content_for :error_message do %>
  <p>The server encountered a configuration or processing error and was unable to complete your request. Please try
    again, and if the problem persists contact the administrator.</p>
<% end %>
