<% content_for :error_name, "Not Found" %>

<% content_for :error_message do %>
  <p>The page you were looking for does not exist. Check the spelling of the address - if you typed the address in, you
  may have typed it incorrectly. Alternatively, the page may have been moved or deleted.</p>
<% end %>
