<% content_for :title, 'Stat Error' %>

<h1 class="error-code has-color-red-500">418</h1>
<h2 class="error-name has-color-red-400">stat error</h2>

<p class="is-lead"><%= ApplicationRecord.useful_err_msg.sample %></p>