<% content_for :title, "Unprocessable Entity" %>

<% content_for :error_message do %>
  <p>Your browser sent some information that the server cannot process. This often means that the token used to prevent
    a type of website attack called CSRF was invalid. If you're logged in, you should log out and back in again.</p>
<% end %>
