<% content_for :title, 'Unprocessable Entity' %>

<h1 class="error-code has-color-red-500">422</h1>
<h2 class="error-name has-color-red-400">unprocessable</h2>

<p class="is-lead">Your request couldn't be processed.</p>

<p>
  Our server's sulking today. Log out and back in, and if this keeps happening, let us know
  <a href="https://meta.codidact.com/" target="_blank" rel="noopener noreferrer">on Meta</a>.
</p>


<p>
  <%= link_to 'Go back', :back, class: 'button is-outlined' %>
  <%= link_to 'Go home', root_path, class: 'button is-outlined' %>
</p>