<% if @user.id == current_user&.id %>
  <h1>Your Abilities</h1>
<% else %>
  <h1>Abilities of <%= @user.username %></h1>
<% end %>

<p class="is-lead">Abilities show what the community trusts you to do. You earn them by writing good posts, suggesting
  good edits or raising good flags.</p>

<p>Here is a list of abilities you can earn (and have earned) on this site:</p>

<table class="table is-with-hover">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Earned?</th>
  </tr>
  <% @abilities.each do |a| %>
    <tr>
      <td>
        <i class="fas fa-<%= a.icon %> fa-fw"></i>
      </td>
      <td>
        <h4 class="h-m-0">
          <%= link_to a.name, @user.id == current_user&.id ?
                                ability_url(a.internal_id) :
                                ability_url(a.internal_id, for: @user.id) %>
        </h4>
        <p class="h-m-0 form-caption"><%= a.summary %></p>
      </td>
      <td>
        <% if @user.privilege? a.internal_id %>
          <p><i class="fas fa-fw fa-check h-c-green-600"></i> yes
        <% else %>
          <p><i class="fas fa-fw fa-times h-c-red-600"></i> no
        <% end %>
      </td>
    </tr>
  <% end %>
</table>