<% posts.to_a.in_groups_of(3).map(&:compact).each do |row| %>
  <% row.each do |row_data| %>
    <% next if row_data[0] == '$Moderator' && !current_user&.is_moderator %>
    <div class="widget">
      <div class="widget--header">
        <% if row_data[0].present? %>
          <% if row_data[0] == '$Moderator' %>
            Moderator Information
          <% else %>
            <%= row_data[0] %>
          <% end %>
        <% else %>
          Uncategorized
        <% end %>
      </div>
      <div class="widget--body">
        <% row_data[1].each do |post| %>
          <p>
            <%= link_to post.help_doc? ? help_path(post.doc_slug) : policy_path(post.doc_slug) do %>
              <i class="fas fa-file-alt"></i> <%= post.title %>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
