<% posts.to_a.in_groups_of(3).map(&:compact).each do |row| %>
  <div class="flex-row">
    <% row.each do |row_data| %>
      <div class="primary panel panel-default">
        <div class="panel-body">
          <h4><%= row_data[0].present? ? row_data[0] : 'Uncategorized' %></h4>
          <% row_data[1].each do |post| %>
            <p>
              <%= link_to post.help_doc? ? help_path(post.doc_slug) : policy_path(post.doc_slug) do %>
                <i class="fas fa-file-alt"></i> <%= post.title %>
              <% end %>
            </p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>