<div class="form-caption widget--footer js-post-field-footer">
  We <a href="/help/formatting">support Markdown</a> for posts:
  <strong>**bold**</strong>, <em>*italics*</em>, <code>`code`</code>, two newlines for paragraphs
</div>
