<div class="form-caption widget--footer js-post-field-footer">
  We <a href="/help/formatting">support Markdown</a> for posts:
  <strong>**bold**</strong>, <em>*italics*</em>, <code>`code`</code>, two newlines for paragraphs
  <span class="has-float-right has-font-size-caption js-character-count-post-body hide"
        data-max="30000" data-min="30" data-display-at="0.75">
    <i class="fas fa-ellipsis-h js-character-count__icon"></i>
    <span class="js-character-count__count">0 / 30000</span>
  </span>
</div>
