<div class="form-caption widget--footer js-post-field-footer">
  We <a href="/help/formatting">support Markdown</a> for posts:
  <strong>**bold**</strong>, <em>*italics*</em>, <code>`code`</code>, two newlines for paragraphs
  <span class="has-float-right has-font-size-caption" id="body-char" style="transform: translate(0, 5%); display:none">
    <i class="fas fa-ellipsis-h" id="body-char-count__icon"></i>
    <span id="body-char-count">0 / 30000</span>
  </span>
</div>
