<div class="modal is-with-backdrop" id="mod-tools-<%= post.id %>">
  <div class="modal--container">
    <div class="modal--header">
      <button class="button is-close-button modal--header-button" data-modal="#mod-tools-<%= post.id %>">&times;</button>
      Moderator Tools
    </div>
    <div class="modal--body">
      
    </div>
  </div>
</div>