<% content_for :title, 'Help Center' %>

<h1>Help Center</h1>

<div class="grid">
  <div class="grid--cell is-6 is-12-sm">
    <h2>Help</h2>
    <%= render 'help_center_posts', posts: @posts[HelpDoc.post_type_id] %>
  </div>

  <div class="grid--cell is-6 is-12-sm">
    <h2>Policy</h2>
    <%= render 'help_center_posts', posts: @posts[PolicyDoc.post_type_id] %>
  </div>
</div>
