// Breakpoints
$screen-sm: 576px;
$screen-md: 780px;
$screen-lg: 992px;
$screen-xl: 1200px;

// Colors
$key: #335;
$muted-text: #666;
$muted-graphic: #DDD;
$primary: #4B68FF;
$secondary: #EA7317;
$warning: #FDD835;
$danger: #EB5959;
$success: #2ECC71;
$info: #58A09A;

:root {
  --key: #{$key};
  --muted-text: #{$muted-text};
  --muted-graphic: #{$muted-graphic};
  --primary: #{$primary};
  --secondary: #{$secondary};
  --warning: #{$warning};
  --danger: #{$danger};
  --success: #{$success};
  --info: #{$info};
}

$font-stack-plain: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-stack-display: 'Red Hat Display', $font-stack-plain;