/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'variables';

.deleted-content {
  background: lighten($danger, 45%);
}

img {
  max-width: 100%;
}

details {
  summary {
    font-weight: bold;
  }

  border-top: 1px solid $muted-graphic;
  padding: 0.5em;

  &:last-of-type {
    border-bottom: 1px solid $muted-graphic;
  }
}

a.header--site-name {
  display: flex !important;
}
.header .header--item.is-complex:not(.is-mobile-menu) {
  align-items: center !important;
  display: flex !important;
}