/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.clearfix {
  clear: both;
}

.container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  margin-bottom: 20px;
  clear: both;
  background: #00557a;
  color: white;
  padding: 10px 10px 17px 10px;
}

.header .site-logo {
  float: left;
  width: 25%;
}

.site-logo img {
  max-height: 69px;
}

.header .toplevel-links {
  float: right;
  width: 70%;
}

.toplevel-links a {
  display: inline-block;
  background: #0080b7;
  padding: 10px;
  color: white;
  transition: all 0.2s ease;
  margin-top: 17px;
}
.toplevel-links a:hover {
  display: inline-block;
  background: #00a4ea;
  padding: 10px;
  color: white;
  transition: all 0.2s ease;
  margin-top: 17px;
}

.content {
  clear: both;
}

.content-bar {
  width: 70%;
  min-width: 700px;
}

.sidebar {
  width: 25%;
  min-width: 250px;
  padding-left: 10px;
}

.footer {
  clear: both;
}
