/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'variables';

body {
  font-family: $font-stack-plain !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-stack-display !important;
}

h1 {
  font-size: 1.7em;
}

.deleted-content {
  background: lighten($danger, 45%);
}

@media all and (min-width: 32rem) {
  .header--brand img {
    max-height: 1em;
  }
}

img {
  max-width: 100%;
}

a {
  overflow-wrap: break-word;
}

details {
  border-top: 1px solid $muted-graphic;
  padding: 0.5em 0.5em 0.5em 2em;

  summary::-webkit-details-marker {
    display: none;
  }

  summary {
    margin: 0 0 0 -2em;
  }

  & > summary:before {
    display: inline-block;
    padding: 0 0.5em;
    content: '▶';
  }

  &[open] > summary:before {
    content: '▼';
  }

  &:last-of-type {
    border-bottom: 1px solid $muted-graphic;
  }
}

a.header--site-name {
  display: flex !important;
}
.header .header--item.is-complex:not(.is-mobile-menu) {
  align-items: center !important;
  display: flex !important;
}

@media all and (max-width: 73.5em) {
  .grid {
    margin-left: 0;
    margin-right: 0;
  }
}

.notice a {
  word-break: break-word;
}

.item-list--item {
  .item-list--text-value {
    margin: 0 !important;
  }
  .item-list--number-value {
    width: 80px !important;
    margin: 0 !important;
  }
}

.badge.is-muted:not(.is-tag) {
  background-color: #f2f2f2 !important;
  color: #666 !important;
  font-weight: 600;
}
/* Copied from Co-Design for compatibility purposes */
ul.pagination li.active {
  border-color:#293338;
  background-color:#3f4e56;
  box-shadow:2px 3px 2px -2px #344147;
  color:#fff;
  font-weight:600
}

ul.pagination li.active a:hover {
  background-color:transparent
}

ul.pagination li.disabled {
  box-shadow:none
}
/* *** */

.notice__dev-mode {
  font-size: 14px;
}

header {
  font-family: $font-stack-display;

  &.header {
    z-index: 5;
    position: relative;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
  }
}

.notice a.has-font-size-larger {
  font-size: 19px;
}

img.codidact-logo {
  height: 32px;
}

hr {
  border: 0;
  border-top: 1px solid $muted-graphic;
  margin: 1.5em 0;
}

.modal {
  position: fixed !important;
  z-index: 9999;
}

.category-header--tabs-container {
  overflow-x: scroll;

  @media screen and (min-width: $screen-md) {
    overflow-x: unset;
  }
}

.widget.is-warning {
  background: lighten($warning, 33%);
  border: 1px solid lighten($warning, 10%);
  color: darken($warning, 45%);

  .widget--header {
    border-bottom: 1px solid lighten($warning, 10%);
  }
}

.footnote-ref a::before {
  content: '[';
}

.footnote-ref a::after {
  content: ']';
}

.footnotes-sep + .footnotes {
  border-top: 0;
}

.footnotes {
  border-top: 1px solid $muted-graphic;
  font-size: 0.9em;
}