/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin-bottom: 20px;
}

.clearfix {
  clear: both;
}

.container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  margin-bottom: 20px;
  clear: both;
  background: #00557a;
  color: white;
  padding: 10px 10px 17px 10px;
}

.header .site-logo {
  float: left;
  width: 25%;
}

.site-logo img {
  max-height: 69px;
}

.header .toplevel-links {
  float: right;
  width: 70%;
  text-align: right;
}

.toplevel-links a {
  color: white;
  text-decoration: underline;
}
.toplevel-links a:hover {
  color: white;
  text-decoration: none;
}

.lateral-sep {
  margin-right: 10px;
}

.gray {
  color: #bbb;
}

.smaller {
  font-size: 0.8em;
}

.toplevel-links a.toplevel {
  display: inline-block;
  background: #0080b7;
  padding: 10px;
  color: white;
  transition: all 0.2s ease;
  margin-top: 17px;
}
.toplevel-links a.toplevel:hover {
  display: inline-block;
  background: #00a4ea;
  padding: 10px;
  color: white;
  transition: all 0.2s ease;
  margin-top: 17px;
}

.content {
  clear: both;
}

.content-bar {
  width: 70%;
  min-width: 700px;
  float: left;
}

.sidebar {
  width: 25%;
  min-width: 250px;
  padding-left: 10px;
  float: right;
}

.footer {
  clear: both;
  background: #777777;
  color: white;
}

div.field {
  padding: 7px;
}

.post-container {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
}

span.tag {
  display: inline-block;
  background: #aae5ff;
  color: #00557a;
  padding: 5px;
}

.vote-button {
  cursor: pointer;
}

.pagination .previous-page, .pagination .current, .pagination a {
  display: inline-block;
  background: #eee;
  border: 1px solid #777;
  border-radius: 3px;
  text-decoration: none;
  padding: 5px;
  cursor: pointer;
}
.pagination .previous-page:hover, .pagination .current:hover, .pagination a:hover {
  display: inline-block;
  background: #bbb;
  border: 1px solid #777;
  border-radius: 3px;
  text-decoration: none;
  padding: 5px;
  cursor: pointer;
}

.pagination .current {
  background: #0080b7;
  color: white;
}
.pagination .current:hover {
  background: #00a4ea;
}

.padded {
  padding: 10px;
  margin: 10px 0;
}

.deleted-content {
  background: #f2dede;
}

span.notifications {
  cursor: pointer;
}

.bg-primary a {
  text-decoration: underline;
}
.bg-primary a, .bg-primary a:hover {
  color: white;
}

.comment {
  padding: 5px;
  border-bottom: 1px solid #bbb;
}
