@import 'variables';

.audit-log-filters {
  .form-group-horizontal .actions, .select2-container {
    height: 37px;
    margin: 4px 0px;
  }

  .select2-container {
    .selection {
      .select2-selection {
        border-color: $muted-graphic;
        height: 100%;
        padding: 4px 0;
      }

      .select2-selection__arrow {
        top: 50%;
        translate: 0 -50%;
      }
    }
  }

  .form-group-horizontal {
    .actions {
      .button {
        height: 100%;
        margin: 0;
      }
    }
  }
}
