// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import './variables';

.category-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $muted-graphic;
}
