@import 'variables';

.comment {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $muted-graphic;
  padding: 0.5em;
  align-items: stretch;
  max-width: 100%;
  overflow: auto;

  .comment--content {
    margin-bottom: 0;
  }

  .comment--meta {
    margin-left: auto;
  }
}

.comment-form {
  margin-top: 0.5em;
}
.post--comments {
  font-size: 0.9em;
}

.comment-content {
  resize: vertical !important;
}
