@import 'variables';

.post--comments {
  h4 {
    padding-bottom: 0.5em;
    border-bottom: 1px solid $muted-graphic;
  }
}

.comment {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $muted-graphic;
  padding: 0.5em;

  .comment--content {
    margin-bottom: 0;
  }

  .comment--meta {
    margin-left: auto;
  }
}

.comment-form {
  margin-top: 0.5em;
}