.flags-list-header {
  display: flex;
  justify-content: space-between;
}

.header {
  .header--menu {
    .header--item {
      .header--alert {
        min-width: 2em;
        padding: 0 0.5em;
      }
    }
  }
}
