@import 'variables';

select.form-element {
  display: block;
  width: 100%;
}

.form-group {
  margin-bottom: 1em;
}

.form-group-horizontal {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  align-items: flex-end;

  @media screen and (min-width: $screen-md) {
    flex-direction: row;

    & > :first-child {
      margin: 0 0.5em 0 0 !important;
    }

    & > :last-child {
      margin: 0 0 0 0.5em !important;
    }
  }

  & > .form-group {
    margin: 0.5em 0;

    @media screen and (min-width: $screen-md) {
      margin: 0 0.5em;
      flex: 1;
    }
  }

  & > .actions {
    display: flex;
    align-items: flex-end;
  }
}

.form-inline {
  input[type="file"] {
    display: inline-block;
  }
}

.select2 {
  margin: 0.4em 0;
}

.select2-container {
  width: 100% !important;
  z-index: 8999;
}

@for $i from 1 through 25 {
  textarea.has-rows[rows="#{$i}"] {
    min-height: (1.2em * $i) + 1.2em;
  }
}
