@import 'variables';

.notifications-list-header {
  display: flex;
  justify-content: space-between;
}

.notification {
  border-top: 1px solid $muted-graphic;
  display: grid;
  gap: 0.75em;
  grid-template-columns: max-content auto;
  align-items: center;
  padding: 0.5em;

  @media screen and (min-width: $screen-md) {
    flex-direction: row;
  }

  &:last-of-type {
    border-bottom: 1px solid $muted-graphic;
  }

  .notification-icon {
    color: $primary-graphic;
  }

  .notification-content {
    display: flex;
    flex-direction: column;

    .form-caption {
      margin: 0;
    }
  }

  .notification--timestamp {
    line-break: strict;
  }
}
