@import 'variables';

.post-field {
  font-family: 'Roboto Mono', monospace;
}

.upload-form {
  margin: 1em 0;

  button[type="submit"] {
    display: none;
  }
}

.question.post__meta {
  background: $meta;
}

.post--container {
  max-width: 100%;
  
  .grid--cell.is-flexible {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    width: 0;
  }
}

.badge.is-tag {
  margin: 0.1rem;
}

h1 .badge.is-tag.is-master-tag {
  position: relative;
  top: -0.4em;
}

.vote-button svg {
  font-size: 20px;
}