@import 'variables';

.question {
  border-top: 1px solid $muted-graphic;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $screen-md) {
    flex-direction: row;
  }

  .question__score {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    .score {
      margin-right: 0.2em;
      font-weight: bold;
      font-size: 120%;
    }

    @media screen and (min-width: $screen-md) {
      flex-direction: column;
      font-size: inherit;
      margin-right: 1em;
      align-items: unset;

      .score {
        margin-right: 0;
        font-weight: normal;
        font-size: 150%;
        text-align: center;
      }
    }
  }

  .question__info {
    flex: 1;
    display: flex;
    flex-direction: column;

    .question__tags {
      margin-top: 0.5em;
    }

    .question__author {
      margin-top: 0.5em;
      color: $muted-text;
      text-align: right;
    }
  }
}

.tag {
  padding: 0.1em 0.4em;
  background: lighten($primary, 40%);
  border: 1px solid lighten($primary, 35%);
  display: inline-block;
  color: $key;
}

.post {
  .post__title {
    font-size: 2em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid $muted-graphic;
  }

  .post__container {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $screen-md) {
      flex-direction: row;
    }

    .post__votes {
      display: flex;
      flex-direction: row;
      align-items: center;

      & > * {
        margin: 0 0.5em;
      }

      img {
        height: 16px;
        width: 16px;
      }

      .score {
        font-weight: bold;
        font-size: 150%;
      }

      .vote-button {
        cursor: pointer;
      }

      @media screen and (min-width: $screen-md) {
        flex-direction: column;

        & > * {
          margin: 0.5em 0;
        }

        img {
          height: 48px;
          width: 48px;
        }

        .score {
          font-weight: normal;
          font-size: 150%;
          text-align: center;
        }
      }
    }

    .post__body {
      flex: 1;
      margin-left: 0.5em;

      @media screen and (min-width: $screen-md) {
        margin-left: 1em;
      }

      .post__meta {
        display: flex;
        flex-direction: column;
        margin-top: 2em;

        @media screen and (min-width: $screen-md) {
          flex-direction: row;
        }

        .post__tags {
          margin-right: auto;
        }

        .post__author {
          margin-left: auto;
        }
      }

      .post__actions {
        margin-top: 1em;
      }
    }
  }
}