@import 'variables';

.post-field {
  font-family: 'Roboto Mono', monospace;
}

.upload-form {
  margin: 1em 0;

  button[type="submit"] {
    display: none;
  }
}

.question.post__meta {
  background: $meta;
}
