.question {
  width: 90%;
  padding: 10px;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
}

.q-info-box {
  float: left;
  padding: 0 10px;
}

p.large-text {
  font-size: 1.4em;
}
p.center {
  text-align: center;
}

.q-container {
  width: 95%;
  padding: 10px;
}

.vote-box {
  float: left;
  width: 50px;
}

.body-box {
  float: right;
}

.post-info {
  width: 100%;
}

.post-tags {
  width: 50%;
  float: left;
}

.post-author {
  width: 45%;
  float: right;
}
