@import 'variables';

.question {
  border-top: 1px solid $muted-graphic;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $screen-md) {
    flex-direction: row;
  }

  .question__score {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    .score {
      margin-right: 0.2em;
      font-weight: bold;
      font-size: 120%;
    }

    @media screen and (min-width: $screen-md) {
      flex-direction: column;
      font-size: inherit;
      margin-right: 1em;
      align-items: unset;

      .score {
        margin-right: 0;
        font-weight: normal;
        font-size: 200%;
        text-align: center;
      }
    }
  }

  .question__info {
    flex: 1;
    display: flex;
    flex-direction: column;

    .question__tags {
      margin-top: 0.5em;
    }

    .question__author {
      margin-top: 0.5em;
      color: $muted-text;
      text-align: right;
    }
  }
}

.tag {
  padding: 0.1em 0.4em;
  background: lighten($primary, 40%);
  border: 1px solid lighten($primary, 35%);
  display: inline-block;
  color: $key;
}