@import 'variables';

.search-filters:not([open]) {
  border-top: 1px solid $muted-graphic;
}

.search-filters-filter {
  align-items: end;
  display: grid;
  gap: 1.25em;
  grid-template-columns: auto max-content;

  margin: {
    top: 0;
    bottom: 1em;
  }

  .select2-container {
    height: 35px;
    margin: 2px 0;

    .selection {
      .select2-selection {
        border-color: $muted-graphic;
        height: 100%;
        padding: 4px 0;
      }

      .select2-selection__arrow {
        top: 50%;
        translate: 0 -50%;
      }
    }
  }

  @media screen and (max-width: $screen-md) {
    gap: 0.5em;
  }

  @media screen and (min-width: $screen-md) {
    margin: {
      left: 0.5em;
      right: 0.5em;
    }
  }

  @media screen and (max-width: $screen-sm) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.search-filters-filter-actions {
  display: flex;
  gap: 0.5em;
}

.search-filters-constraints {
  display: grid;
  column-gap: 0.5em;
  grid-template-columns: repeat(4, 1fr);

  @media screen and (max-width: $screen-lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: $screen-md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: $screen-sm) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.search-sorting {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .search-sorting-types {
    margin: 0.5em;
    margin-right: 0;
  }
}
