@import 'variables';

.site-settings-table {
  table-layout: fixed;
  width: 100%;

  @media screen and (max-width: $screen-sm) {
    tbody {
      display: flex;
      flex-direction: column;
      gap: 0.5em;

      tr {
        border: 1px solid $muted-graphic;
        display: flex;
        flex-direction: column;

        td,
        td:not(:last-child) {
          border: none;
        }
      }
    }
  }
}

.site-setting--tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em;
  margin: 0;
}

.site-setting--value {
  min-height: 1em;
  min-width: 2em;
  overflow-wrap: anywhere;
}
