// Place all the styles related to the TagSets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item-list--text-value {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.is-primary {
    align-items: flex-start;
  }
}
