.codidactyl {
  width: 80px;
  padding: 2rem;
  margin-top: 1rem;
}

.codidactyl + .is-flexible {
  width: 0;
}

.codidactyl-hints {
  padding: 1rem;
}

.codidactyl-sticky {
  position: sticky;
  top: 0.5rem;
}

.codidactyl-small {
  max-height: 1em;
}

@media (min-width: 769px) {
  .narrow-only {
    display: none;
  }
}

@media (max-width: 768px) {
  .wide-only {
    display: none;
  }

  .tour-editor-wrapper,
  .tour-post-wrapper {
    order: 2;
  }

  .tour-hints-wrapper {
    order: 1;
  }
}
