// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users-row {
  width: 100%;
  margin-bottom: 10px;
}

.floating.user {
  float: left;
  width: 20%;
  padding: 10px;
  border: 1px solid #bbb;
  margin: 5px;
  box-shadow: 2px 2px 2px #777;
}
