@import 'variables';

.user-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;

  @media screen and (min-width: $screen-lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.user-list--user {
  border-radius: 0.4em;
  transition: all 0.2s ease;
  padding: 0.5em;

  &:hover {
    background: lighten($primary, 50%);
  }

  .username {
    font-size: 1.2em;
    word-break: break-word;
  }

  img {
    min-height: 32px;
    min-width: 32px;
    width: 32px;
    height: 32px;
    object-fit: contain;
  }

  .user--meta {
    display: flex;
    flex-direction: column;
  }
}

.profile-text {
  padding: 0.125em;
  line-height: 1.5;
  max-height: 500px;
  overflow: auto;
}

.user-profile-heading {
  padding: 0.5em;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;
}

.user-profile--image img {
  width: 100%;
}

@media all and (max-width: 64em) {
  .profile-text {
    max-height: none;
  }
}

.staff-badge {
  display: inline-block !important;
  padding: 3px 6px !important;
  border-radius: 2px !important;
  font-weight: 700 !important;
}
