@import 'variables';

.user-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;

  @media screen and (min-width: $screen-lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.user-list--user {
  border-radius: 0.4em;
  transition: all 0.2s ease;
  padding: 0.5em;

  &:hover {
    background: lighten($primary, 50%);
  }

  .username {
    font-size: 1.2em;
    word-break: break-word;
  }

  img {
    min-height: 32px;
    min-width: 32px;
  }

  .user--meta {
    display: flex;
    flex-direction: column;
  }
}

.profile-details {
  line-height: 2;
  padding-right: 1em;
}

.profile-text {
  padding-left: 1em;
  border-left: 1px solid $muted-graphic;
}

.user-show--username {
  word-wrap: break-word;
  display: flex;
  max-width: 100%;
  align-items: center;

  span {
    margin-left: 0.5em;
    word-wrap: break-word;
    overflow: auto;
  }
}