@import 'variables';

.flex-row-always {
  display: flex;
  flex-direction: row;

  & > * {
    margin: 0 0.5em;
  }

  .primary {
    flex: 1;
  }
}

.flex-row {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $screen-md) {
    flex-direction: row;
    & > * {
      margin: 0 0.5em !important;
    }

    & > :first-child {
      margin-left: 0 !important;
    }

    & > :last-child {
      margin-right: 0 !important;
    }
  }

  & > * {
    margin: 0.5em 0;
  }

  .primary {
    flex: 1;
  }
}

.jc-sb {
  justify-content: space-between;
}

.raw-markdown {
  font-family: 'Roboto Mono', monospace;
}

.table-borderless,
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
  border: none;
}

pre.unformatted {
  padding: unset;
  margin: unset;
  font-size: unset;
  line-height: unset;
  color: unset;
  background: unset;
  border: unset;
}