<h2>Thanks for your donation, <%= @name %>!</h2>

<p>Your donation of <%= number_to_currency(@amount, units: @symbol) %> has been received with thanks.</p>

<p>
  Your donation goes towards helping us build towards our vision: helping like-minded people learn together,
  free from the money-driven ways of profit-focused companies.
</p>

<p>
  We're committed to transparency and accountability. We regularly publish financial reports where you can find out
  exactly what we've received and how we've spent it, which you'll find on <a href="https://meta.codidact.com">Meta</a>.
</p>

<p>If you're not already, get involved! Here are some more things you can do:</p>

<ul>
  <li><a href="https://codidact.org/">Join our mailing list</a></li>
  <li><a href="https://codidact.com/">Browse and join our communities</a></li>
</ul>

<p>
  Thanks and see you around,<br/>
  The Codidact Team
</p>
