<p>Welcome to Codidact, <%= @resource.username %>! We're glad you're here.</p>

<p>Please confirm your registration by clicking below (or copy and paste the URL into your browser).</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token), class: 'button is-filled' %></p>

<p class="has-font-size-smaller has-color-tertiary-700"><%= confirmation_url(@resource, confirmation_token: @token) %></p>

<%= render 'devise/mailer/friendly_footer' %>
