<p>Hello <%= @resource.username %>!</p>

<p>
  This email is just to let you know that your password has been changed.
</p>
<p>
  If this was you, you can safely ignore this email. If it wasn't, please
  <%= link_to 'change your password now', new_password_url(@resource) %> to protect your account.
</p>

<%= render 'devise/mailer/friendly_footer' %>
