<p>Hello <%= @resource.username %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), class: 'button is-filled' %></p>

<p>
  If you didn't request this, please ignore this email&mdash;your password won't be changed until you follow the link
  above and set a new password.
</p>

<%= render 'devise/mailer/friendly_footer' %>
