<h1>Keyboard tools</h1>
<p>Codidact supports keyboard tools to enhance user accessibility. You can activate (and then later deactivate) them here on this page:</p>
<p>You'll need JavaScript to be enabled for the tools to work.</p>

<p>Keyboard tools are currently <strong class="js-keyboard_tools-status">unknown</strong>.
<button class="button is-outlined js-keyboard_tools-toggle">Toggle</button>
</p>

<p>This setting is stored in your browser and not your user account, so you can set it as you want it on any device.</p>