<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      body {
        font-family: 'Arial', sans-serif;
        font-size: 14px;
      }

      a, a:visited {
        color: #00A4EA;
        text-decoration: underline;
      }

      .question-title {
        margin-bottom: 0;
      }

      .question-title ~ p {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
